/*globals*/

:root {
  --box-shadow: var(--color-box-shadow) 0px 1px 8px;
  --color-box-shadow: rgba(0, 0, 0, 0.24);
  --color-font-black: #1e1e1e;
  --color-font-white: rgba(255, 255, 255, 0.85);
  --color-primary: #6b8763;
  --color-secondary: rgba(32, 73, 27, 0.85);
}

/*HTML font and size declaration*/

html {
  font-size: 62.5%;
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-repeat: no-repeat;
  background-position: center;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 800px) {
  body {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* headings */

h1,
h2,
h3,
h4 {
  margin: 0;
}

/* buttons */

.button {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 20px;
  color: var(--color-font-white);
  display: flex;
  font-size: 0.6rem;
  font-weight: 600;
  height: 1.5rem;
  justify-content: center;
  letter-spacing: 0.1em;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  width: 7rem;
}

.button:hover {
  background-color: #678c5d;
}

/* Cards */

.card {
  box-shadow: var(--box-shadow);
  display: flex;
  margin: 0.3rem 1rem;
}

@media screen and (min-width: 800px) {
  .card {
    margin: 6rem 7rem;
  }
}

.card_green_div {
  background-color: #6b8763;
  text-align: right;
  color: var(--color-font-white);
}

/* lists */

.list {
  list-style: none;
  padding: none;
  display: flex;
}

/* header */

.header {
  background-color: var(--color-secondary);
  height: 10rem;
}

.header_name {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 6rem;
  letter-spacing: 0.3rem;
  display: inline-block;
  margin: 1rem;
}

@media screen and (min-width: 800px) {
  .header {
    height: 6rem;
  }
  .header_name {
    font-size: 3rem;
    margin-left: 2rem;
  }
}

/* Footer */

.footer {
  background-color: #100f0f;
  height: 7.5rem;
}

.footer_link {
  font-size: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
}

.footer_items {
  align-content: space-between;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  justify-content: space-between;
  width: 100%;
  grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";
}

.footer_items a:nth-child(1) {
  grid-area: top-left;
  justify-self: start;
}

.footer_items a:nth-child(2) {
  grid-area: top-right;
  justify-self: end;
}

.footer_items a:nth-child(3) {
  grid-area: bottom-left;
  justify-self: start;
  white-space: nowrap;
}

.footer_items a:nth-child(4) {
  grid-area: bottom-right;
  justify-self: end;
  white-space: nowrap;
}

@media screen and (min-width: 800px) {
  .footer {
    height: 15rem;
  }

  .footer_link {
    font-size: 2rem;
  }
}

/* Intro card */

.intro_card_image{
  border-radius: 5%;
  height: 15rem;
  padding: 2.5rem;
  width: 12rem;
}

.intro_details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.intro_details h2{
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.intro_details p{
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.intro_details p:nth-child(3){
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.intro_details .btn{
}